.navbar{
  color:white;
  height:100px;
  font-size: 1.4em;
  padding-left: 5%;
  padding-right: 5%;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.navbar-toggler-icon{
  font-size: 2.2em;
  color:white;
  position: relative;
  z-index: 10;
  /* top:5px; */
  /* left:-10px; */
}
.navbar-toggler-icon:hover{
  cursor: pointer;
}
.linkBackground{
  background: none;
}
.nav-link{
font-size: .8em;
}
#name {
  color:white;
  /* position: relative; */
  /* left: 20px; */
  font-size: 2em;
  /* z-index: 5; */
}
#name:hover{
  cursor: pointer;
}
#name2 {
  color:black;
  font-size: 2em;
}
#name2:hover{
  cursor: pointer;
}
.links{
  margin-top: 5px;
  color: orange
}
.links:hover{
  cursor: pointer;
  color: white;
}
.links2{
  margin-top: 5px;
  color:green;
}
.links2:hover{
  cursor: pointer;
  color: black;
}
.Nlinks{
  text-align: left;
  margin-left: 10px;
  /* width:200px; */
}
.connectImgs{
  width:50px;
  height: 50px;
  background-color: none;
  border-radius: 5px;
}


@media only screen and (max-width: 700px) {
  #nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 130;
  }
  #name{
    font-size: 1.5em;
    position: relative;
    left: 20px;
  }
  #name2{
    font-size: 1.5em;
    position: relative;
    left: 20px;
  }
  .connectImgs{
    margin-left: 40px;
  }
  .collapse{
    position: absolute;
    left:0;
    width:100%;
    background-image: url('../../images/tlaxcala.jpg');
  }
}
